html {
  font-family: 'Times New Roman', Times, serif;
  font-size: 18px;
}

body {
  padding: 0;
  margin: 0;

  background-color: lightgray;
}

.main-container {
  max-width: 1024px;
  margin: 0 auto;
}

.main-container > * {
  margin: 10px;
  padding: 1rem 1rem 1rem 4rem;

  background-color: white;
  box-shadow: -10px 10px 5px 0px gray;
}

h1 {
  margin: 1rem;

  text-align: center;
  font-size: 1.8rem;
}

.foto {
  float: left;

  padding: 7px;
  margin: 0 1rem 0 0;

  border: 1px solid black;
}